@import '../../colors';
@import '../../mixins/formMixin.scss';

.Help {
    @include form();
    margin: 5vh auto;
}

.Help__header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $logoColor;
    margin-bottom: 3vh;
}

.Help__h2 {
    letter-spacing: 1px;
    margin-left: 0.5vw;
}

.Help__icon {
    font-size: 20px;
}

.Help__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Help__div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Help__span {
    color: $linkColor;
    margin: 2vh 0;
    font-size: 18px;
    letter-spacing: 1px;
}

.Help__message {
    resize: none;
    outline: none;
    background-color: $linkColor;
    padding: 1vh 1vw;
    height: 180px;
    border-radius: 3px;
    margin-bottom: 2vh;
    color: $navigationColor;
    line-height: 1.5;
}

@media (max-width: 1250px) {
    .Help {
        width: 40%;
    }
}

@media (max-width: 900px) {
    .Help {
        width: 80%
    }
}

@media (max-width: 350px) {
    .Help {
        width: 95%;
    }
}