$navigationColor: rgba(12, 11, 11, 0.842);
$logoColor: #EEEEEE;
$linkColor: #BDBDBD;
$materialBlueColor1: #3949AB;
$materialBlueColor2: #303F9F;
$scrollBar1: rgba(12, 11, 11, 0.747);
$scrollBar2: rgba(12, 11, 11, 0.63);